<section class="header" id="cat-facts-header">
  <h1 class="inner-header"> <a href="/" class="home-page-link"> Cat Facts! </a> </h1>
</section>

<ul>
  <li> <%= @cat_fact %> </li>
</ul>

<form action="/cat_fact" method="post">
  <button> Get Another Cat Fact </button>
</form>

<a href="/"> Go to Homepage </a>
