<h3 class = "random-cat-fact"> Random Cat Fact </h3>

<p class="cat-fact-text"> <%= @cat_fact %> </p>

<form action="/cat_fact" method="post" class ="results-form">
  <button class="pushable" role="button">
    <span class="front"> Get Another Cat Fact! </span>
  </button>
</form>
