<h1> What to Wear on Your Run! </h1>
<form action="/results" method="post">
<label for="user_loc">Please Enter Location: </label>
<input type="text" id="user_loc" name="user_location">
<label for="time">Please Enter Time of Day:</label>
<input type="text" id="time" name="user_time">

<button>Submit</button>

</form>
