

<form action="/cat_fact" method="post" id="cat_facts">
  <div class="cat-image">
    <img src="images\1.png" alt="cat facts logo" class="logo">
  </div> 
  <button class="button" role="button"> Get Your Cat Fact! </button>
</form>
