

<form action="/cat_fact" method="post" class="homepage-form">
<div class="cat-image">
    <img src="images\1.png" alt="cat-facts-logo" class="logo">
  </div>
  <button class="pushable" role="button">
   <span class="front"> Get Your Cat Fact! </span>
  </button>
</form>
