<!DOCTYPE html>
<html>
  <head>
    <title>Kitty Facts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <style> 
  </style>
  <body>
    <div class="header">
      <h2><a class="navbar-band" href="/"> Cat Facts </a></h2>
    </div>
    <%= yield %>
  </body>
</html>
