<!DOCTYPE html>
<html>
  <head>
    <title> Cat Facts! </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="styles.css" type="text/css" rel="stylesheet">
    <!-- Add Balsamiq Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="header" id="cat-facts-header">
      <h1 class="inner-header"> <a href="/" class="home-page-link"> Cat Fact Generator </a> </h1>
    </section>
    <%= yield %>
  </body>
</html>
