/* Layout Styling */



body {
  font-family: "Balsamiq Sans";
  background: #fff7eb;
}

.header {
  padding: 30px; 
  text-align: center;
  background: #93AAE8;
  height: 100px;
  font-size: 30px
}



/* Home Page styling */

.cat-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.logo {
  height: 250px;
  width:  auto;
}

.homepage-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  background: ;
}

.pushable {
  font-family: Balsamiq Sans;
  background: #B26D80;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #DB889F;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

a:link {
  color:#FFF7EB;
  text-decoration: none;
}

a:visited {
  color:#FFF7EB;
  text-decoration: none;
}

a:focus {
  color:#FFF7EB;
  text-decoration: none;
}

a:hover {
  color:#DB889F;
  text-decoration: none;
}

a:active {
  color:#FFF7EB;
  text-decoration: none;
}
